tap "1password/tap"

# Formulae (CLI)
brew "dockutil"

# Casks (GUI apps)
cask "1password"
cask "1password-cli"
cask "google-chrome"
cask "spotify"
cask "zed"
cask "roam-research"

{{ if eq .profile "personal" -}}
cask "signal"
{{- end }}
{{ if eq .profile "work" -}}
cask "slack"
cask "linear-linear"
cask "tuple"
{{- end }}
