#!/usr/bin/env bash
# Profile: {{ .profile }}
set -euo pipefail

{{ if eq .profile "work" -}}
if command -v nix >/dev/null 2>&1; then
    echo "nix already installed, skipping"
    exit 0
fi

curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix \
    | sh -s -- install --no-confirm
{{- end }}
